<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Salut<%= @user.first_name %>, merci de ta commande !</h1>
    <p>
      Voici ton achat du jour sur Projet-chatons ! <br><br>

      <% @order.titles.each_with_index do |title, i| %>
          <h3><%= @order.titles[i] %></h3>
          <img src="<%= @order.urls[i] %>" alt="<%= @order.titles[i] %>" class="rounded w-25 img-fluid">
          <br>
        <% end %>


    </p>
    <p>
      N'hésite pas à revenir acheter d'autres photos... et autres goodies à venir !
    </p>
    <p> À très vite sur projet_chatons.com !
  </body>

</html>