<h1> Echec ! </h1>

<P>  Le statut de votre commande était :
<%= @payment_intent.status %> !
N'hésitez pas à refaire une commande si vous le souhaitez !</p>
<% link_to " Retour à la page d'acceuil ", root_path, class="btn btn-primary" %>