<h1> Votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %> a été un succès ! </h1>
<P>Votre commande et votre facture vous seront envoyées par email dans les plus brefs délais. </p>
<% link_to " Retour à la page d'acceuil ", root_path, class="btn btn-primary" %>