<h1> Mes commandes </h1>
<div class="container w-75 d-flex flex-column justify-content-start align-items-center">
  <ul class="list-group list-group-flush m-4">
    <%= render partial: "orders/order_summary", collection: @user.orders, as: :order %>
  </ul>
</div>
