<p class="py-5 h4">Vous n'avez pas de commandes passées.</p>
<img src="https://www.womansworld.com/wp-content/uploads/2018/05/sad-cat-luhu.jpg?resize=715,536">

<%= link_to root_path, class: "btn btn-sm btn-primary mt-4" do %>
  <%= render "/shared/buttons/view_photos" %>
<% end %>
