<ul class="list-group list-group-flush m-4">
  <%= render partial: "photos/photo_row", collection: @cart.photos, as: :photo %>
  <li class="list-group-item d-flex gap-5 py-3 justify-content-end">
    <p class="mb-0">Total de la commande :</p>
    <strong class="text-nowrap"><%= number_to_currency(@total_price_cart, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></strong>
    <%= button_to checkout_create_path(total: @total_price_cart), class: "btn btn-sm btn-outline-primary", remote: true , data: { turbo: "false" } do %>
      <%= render "/shared/buttons/confirm_order" %>
    <% end %>
  </li>
</ul>
