<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Nouvelle commande sur Projet_chatons !</h1>
    <p>
      Commande numéro <%= @order.id %>, pour un montant de <%= @order.total%>
    </p>

    <p> Encore un client ravi ! </p>
  </body>
</html>