<ul class="list-group list-group-flush m-4">
  <%= render partial: "photos/photo_row", collection: @cart.photos, as: :photo %>

  <li href="#" class="list-group-item d-flex gap-3 py-3 justify-content-between">
    <p class="mb-0">Total de la commande :</p>
    <strong class="text-nowrap"><%= number_to_currency(@total_price_cart, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></strong>
    
  </li>
</ul>


