<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <h3>Contact</h3>
        <p>123 Avenue des Matous<br>
           67000 Chatonville <br>
           France<br>
           <a href="tel:+33390456789">03 90 45 67 89</a><br>
           <a href="mail to:projet@chaton.com">projet@chaton.com</a></p>
        

      </div>
      <div class="col-md-4">
        <h3>Navigation</h3>
        <ul class="list-unstyled">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Produits</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Crédits</h3>
        <p>Icônes par <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a></p>
      </div>
    </div>
    <p>&copy; <%= Time.now.year %> Projet Chaton. Tous droits réservés. <a href="#">Mentions légales</a> | <a href="#">Politique de confidentialité</a></p>
  </div>
</footer>
