<footer>
  <hr>
  <p class="py-3 px-5">
    <strong>Contact</strong><br>
    123 Avenue des Matous<br>
    67000 Chatonville <br>
    France<br>
    <a href="tel:+33390456789">03 90 45 67 89</a><br>
    <a href="mailto:projet@chaton.com">projet@chaton.com</a>
  </p>
  <p class="py-3 px-5">Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
</footer>
